.special-gothic-condensed-one-regular {
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
i{color: brown;
    font-size: 50px;
    position: absolute; 
    top:7.6%; right: 94%;
}
#Contact{
    color: dodgerblue;
    font-size: 55px;
    position: absolute;
    top: 0%; right: 3%;
} 

  
body{
    background-image:url(photo-1563288486-a36b0718077c.avif);
background-size: 100% ;
background-repeat: no-repeat;

}
h1{
    color: brown;
    font-size: 60px ;
    position: absolute;
    left: 7%;
    
}
h2{color: brown;
    font-family: "Special Gothic Condensed One", sans-serif;
   font-size: 50px;
    position: absolute;
    bottom: 40%;
    left: 38%;
}
p{color: brown;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 30px;
    position: absolute;
    bottom: 36%;
    left: 37%;
}
#Services{ color: brown;
    font-family: "Special Gothic Condensed One", sans-serif;
    border: solid 7px black;
   background-color: gray;
    margin: 100px auto ;
    padding: 5px;
    font-size: 35px;
position: absolute;
bottom: 16%;
left: 42%;
}
#Otherservices{color: brown;
    font-family: "Special Gothic Condensed One", sans-serif;
position: absolute;
top: 15%;
right: 3%;
font-size: 40px;
}
#Us
{color: brown;
    font-family: "Special Gothic Condensed One", sans-serif;
position: absolute;
top: 15%;
right: 25%;
font-size: 40px;
}


