.special-gothic-condensed-one-regular {
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
i{color: black;
    font-size: 40px;
    position: absolute; 
    top: 6.6%; right: 89%;
}
#Contact{
    color: dodgerblue;
    font-size: 55px;
    position: absolute;
    top: 0%; right: 3%;
} 

  
body{
    background-image:url(photo-1563288486-a36b0718077c.avif);
background-size: 100% ;
background-repeat: no-repeat;

}
h1{
    color: black;
    font-size: 50px ;
    position: absolute;
    left: 11%;
    
}
h2{
    font-family: "Special Gothic Condensed One", sans-serif;
    color: black;
   font-size: 50px;
    position: absolute;
    bottom: 50%;
    left: 40%;
}
p{
    font-size: 30px;
    color: black;
    position: absolute;
    bottom: 45%;
    left: 37%;
}



